.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
  border: 3px solid #444;
  /* Genişliği daha belirgin yapıyoruz, yükseklik kendini oranlayacak */
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  /* Çok küçülmesini engelle */
  aspect-ratio: 1 / 2;
  background: #111;
}

@keyframes flash-animation {
  /* ... beyaz parlama kodları ... */
}

.flashing {
  animation: flash 0.3s ease-in-out 2;
  /* 0.3 saniye süren, 2 tekrar eden parlama animasyonu */
}

@keyframes flash {
  0% {
    border-color: #444;
    background-color: #333;
  }

  50% {
    border-color: yellow;
    background-color: orange;
  }

  100% {
    border-color: #444;
    background-color: #333;
  }
}