.cell {
  width: auto;
  background: rgba(30, 30, 30, 0.8);
  /* Arka plan rengi */
  border: 1px solid #001;
    /* Dikey çizgi istediğiniz gibi kalabilir */
  border-right: 1px solid #300;
  /* [YENİ] Yatay çizgiyi aşırı silik hale getirdik */
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}


.flashing {
  /* animasyon: isim süre tekrar_sayısı */
  animation: flash-effect 0.1s linear 3;
}

@keyframes flash-effect {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}